<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>Gestion Levest USA - Commandes</title>

<SCRIPT language="Javascript">

function sendActionAdd(modeAddEdit) {
	document.getElementById("id").value=modeAddEdit;
};

</SCRIPT>

</head>
<body>
	
	<div layout:fragment="content">

		<!-- Criteres de recherche -->
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Critères de recherche :</div>
				<div class="panel-body">
				<form th:action="@{/searchCommande}" method="get">
					<table class="col-md-12" >
					<tr>
						<td><label>id Commande : &nbsp;</label><label  name="idCommande" th:text="${commande.idCommande}"></label></td>
						<td>Client : &nbsp; <select name="idClient" >
											    <option th:each="c:${clients}" th:selected="${c.idClient == commande.client.idClient}" th:value="${c.idClient}" th:text="${c.nomClient}"></option>
											</select></td>
						<td><label>Confirmed : &nbsp;</label><input type="checkbox" name="confirm"></td>
					</tr>
					<tr>
						<td><label>Date between : &nbsp;</label><input type="text" name="startDate" placeholder="YYYY-DD-MM"  
pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" 
title="Enter a date in this format YYYY-DD-MM"/></td>
						
						<td><button type="submit" class="btn btn-primary right">Search</button></td>
					</tr>
					</table>
				</form>
				
				</div>
				
			</div>
		
		</div>
		
		<div class="col-md-1"></div>
		<div class="col-md-2">
			<a class="btn btn-primary" th:href="@{/addEditCommande(id=0)}">Add Commande</a>
		</div>
		<div class="col-md-1"></div>

		<!-- Tableau de la Commande -->
		<div class="col-md-12">
		
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des Produits :</div>
				<div class="panel-body">
					<table class="table table-striped">
						<tr>
							<th>Photo</th>
							<th>Item</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Price item(s)</th>
						</tr>
						<tr th:each="lc:${commande.listLignesCommande}">
							<td><img th:src="${lc.produit.photo}" width="100" height="100"/></td>
							<td th:text="${lc.produit.nomProduit}"></td>
							<td th:text="${lc.prix} + '&nbsp; $'"></td>
							<td th:text="${lc.quantite}"></td>
							<td th:text="${lc.prix * lc.quantite} + '&nbsp; $'"></td>
							<td><a class="btn btn-danger" th:href="@{/deleteLigneCommande(id=${lc.idLigneCommande})}">Delete</a></td>
						</tr>
						<tr>
							<td colspan="4"><b>TOTAL PRICE</b></td>
							<td th:text="${commande.total} + '&nbsp; $'"></td>
						</tr>

					</table>
					
				</div>
			</div>
		
		</div><!-- end first div col -->

		

	
	</div>


</body>
</html>